<h1>Hello</h1>
<div class="hint" style="display: none">
      Hello to first time visitors!
</div>
<table>
	<tr>
		<td>
			<div class="container-fluid">
				<div class="row">				
					<% @product.each do |var| %>
						<div class="col-md-3">
							<div class=".services">
								<div><img src="<%= var.path_to_image_sm %>"></div>
								<div><p>Name: <%= var.title %></p></div>
								<div><p>Price <%= var.price %></p></div>
								<div><p><a href="/product/<%= var.id %>"><u>detailed description</u></a></p></div>
								<label class="checkbox-inline">
			  					<input type="checkbox" name="Checkbox[<%=var.id%>]" value="1"> 1
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" name="Checkbox[<%=var.id%>]" value="2"> 2
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" name="Checkbox[<%=var.id%>]" value="3"> 3
								</label>
								<div>
									<input type="hidden" id="<%= var.id %>" value="<%= var.id %>" >
								</div>
								<button class="btn btn-success" onclick="add_to_cart(<%= var.id %>)"> buy </button>		
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</td>
		<td valign = "top">
		</td>
	</tr>
</table>

<script type="text/javascript">
function add_to_cart(id) {
    var a = document.getElementsByName('Checkbox[' + id + ']');
    var counter = 0;
    for(var i=0; i<4; i++) {
    		    	
   		if(a[i].checked) {
   			alert ("you order " + a[i].value + " positions" + "of " + id);
			for(var x=0; x < a[i].value*1; x++) {
	            var hash_key = 'product_' + id;
				var temp = window.localStorage.getItem(hash_key);
				temp = temp * 1+1;
				window.localStorage.setItem(hash_key, temp);
			}
    	}
    	else {
    		var counter = counter*1 + 1;
    	}
    	
    	if( counter == 3 ) {
    		alert('set quantity');
    	}
    	location.reload();
    }
}
</script>